html, body 
{
    height: 99%;
}
.containerlogo
{

}
.logo
{
    width: 85px;
    height: 65px;    
}
.login
{
    width: 25%;
    height: 25%;
    margin: auto;
}
#tableContainer-1 
{
    height: 100%;
    width: 100%;
    display: table;
}
#tableContainer-2 
{
    vertical-align: middle;
    display: table-cell;
    height: 100%;
}
#myTable 
{
    margin: auto;
    border: 2px solid black;
    background-color:#E6E6E6;
    padding: 1%;
}
.buttonright
{
    float: right;
}
#storetable 
{
    width: 100%;
    height: 90%;
    margin: auto;
    border: 2px solid black;
}
#leftmenu
{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    white-space: nowrap;
    float: left;
}
#rightmenu
{
    width: 25%;
    height: 100%;
    background-color:#E6E6E6;
    border: 2px solid black;
    float: right;
}
#basket
{
    width: 100%;
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border: 2px solid black;
}
.rightmenbot
{
    height:20%;
    vertical-align: bottom;
}
#buttonbig
{
    width: 40%;
    height: 30%;
}
.product
{
    background-color: cornflowerblue;
    border-radius: 25px;
    width: 75px;
    height: 75px;
}