html, body 
{
    height: 99%;
}
.containerlogo
{

}
.logo
{
    width: 9.5%;
    height: 8%;    
}
.login
{
    width: 25%;
    height: 25%;
    margin: auto;
}
#tableContainer-1 
{
    height: 100%;
    width: 100%;
    display: table;
}
#tableContainer-2 
{
    vertical-align: middle;
    display: table-cell;
    height: 100%;
}
#myTable 
{
    margin: auto;
    border: 2px solid black;
    background-color:#E6E6E6;
    padding: 1%;
}
.buttonright
{
    float: right;
}